@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Raleway;
    src: url('../src/fonts/Raleway-Medium.ttf');
}

* {
    font-family: 'Raleway';
    font-weight:  normal;
}

body {
    margin: 0;
}

body .swiper-button-prev,body .swiper-button-next {
    color: #fff;
    padding: 2.5rem;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
}