@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Gumela;
    src: url('../src/fonts/Gumela\ Regular.otf');
}

* {
    font-family: 'Gumela';
    font-weight: normal;
}

body {
    margin: 0;
}